.card {
    border: 1.7px solid black;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-top: 0;
  }
  
  .forecast-cards {
    display: flex;
    flex-wrap: wrap;
  }
  